@charset "UTF-8";
@font-face {
    font-family:"myfont" ;
    src: url("../fonts/kai.ttf")format("truetype");
}



/*html（全体）
ピンク色の背景と玉ねぎフォント、フォントサイズ16px*/
html {
    font-size: 16px;
    background-color:#FFEEFF;
	font-family: "myfont";
    }





/*上部のちゃんこの写真*/
.chankopic {
        font-size: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color:black;
        text-align: center;
        margin: auto;
        padding: 100px 0;
        background-image: url(/C1/img/nabe.png);
      }

      /*お店ページの上部のちゃんこの写真*/
.chankopicresult {
        font-size: 7rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color:black;
        text-align: center;
        margin: auto;
        padding: 100px 0;
        background-image: url(/C1/img/nabe.png);
      }








/*リストボックス 「選択してください」を選択しからを外す*/
option[selected][disabled]{
  display:none;
}




/*リストボックス*/
select{
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  height: 40px;
  width: 150px;
  background: #cfcedb;
}



.tb{
  display: grid;
  place-items: center;
  place-content: center;
}

.result{
	  font-size:30px;
  text-align:center;

}





/*レシピ検索リストボックス*/
.recipe{
    text-align: center;
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

/*お店検索リストボックス*/
.store{
    text-align: center;
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

/*検索ボタン*/
.submit{
    text-align: center;
}

input[type="submit"]{
    border:none;
    padding:auto;
    width: 150px;
    background-color:#800080;
    color:aliceblue;
    font-size: small;
        font-family: "myfont";
    height: 40px;
    border-radius: 5px;
}






