@charset "UTF-8";
@font-face {
    font-family:"myfont" ;
    src: url("../fonts/kai.ttf")format("truetype");
}
/*html*/
html {
    font-size: 16px;
    background-color:#FFEEFF;
	font-family: "myfont";
    }





/*上部のちゃんこの写真*/
.chankopic {
        font-size: 4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color:black;
        text-align: center;
        margin: auto;
        padding: 150px 0;
        background-image: url(/C1/img/nabe.png);
      }

/*レシピ検索リストボックス*/
.recipe{
    text-align: center;
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

/*お店検索リストボックス*/
.store{
    text-align: center;
    width:300px;
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

/*検索ボタン*/
.submit{
    text-align: center;
}
input[type="submit"]{
    border:none;
    padding:auto;
    width: 300px;
    background-color:#800080;
    color:aliceblue;
    font-size: 3rem;
}

/*リストボックスの幅*/
/* #recipe{
    width: 300px;
}
#sumostable{
    width: 300px;
}
#category{
    width: 300px;
}
#venue{
    width: 300px;
} */

