@charset "UTF-8";
 @font-face {
  font-family: "myfont";
  src: url("/C1/fonts/kai.ttf") format("truetype");
}

h1 {
  font-family: "myfont";
}

html {
    font-size: 16px;
    background-color:#FFEEFF;
	font-family: "myfont";
    }
.navigation{
	text-align: right;
}

/*footer {
  border-radius: 10%;
  position:fixed;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #800080;
  text-align: center;
}
.menu{
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#icon{
border-radius: 50%;
width:120px;
height:120px;
}*/
#pic{
width:120px;
height:120px;
}
