@charset "UTF-8";
@font-face {
  font-family: "myfont";
  src: url("/C1/fonts/kai.ttf") format("truetype");
}

* {
	text-align: center;
	margin: 0 auto;
	font-family: "myfont";
}

/*ユーザー検索のフォーム全体*/
#RikishiSearchform {
    padding: 5px 0 20px 0;

}

/*ユーザー検索の入力フォーム*/
#rikishiform {
    width: 40rem;
    height: 5rem;
	margin-top: 3rem;
}

/*ユーザー検索の入力フォームと検索ボタン*/
.rikishiform {
	font-size: 3rem;
	height: 5rem;
	margin-top: 3rem;
}

/*それぞれのユーザーのボード*/
.boardpic {
	font-size: 4rem;
	margin-top: 1rem;
    color:black;
    text-align: center;
    padding: 1.1px 6px;
    /* background: linear-gradient(45deg, #8b4513 0%, #cd853f 50%, #deb887 100%); */
    background-image: url(../img/mat.png);
    background-repeat: repeat;

}

.rikishi-page {
	background-color: #FFDDFF;
}

/* ページ全体の背景色 */
.rikishi-page {
	background-color: #FFDDFF;
}
/* 見出し */
h1 {
	font-size:6rem;
}

/* aタグの設定 */
a {
  text-decoration: none;
  color: black;
}