@charset "UTF-8";
@font-face {
    font-family:"myfont" ;
    src: url("../fonts/kai.ttf")format("truetype");
}

/*html（全体）
ピンク色の背景と玉ねぎフォント、フォントサイズ16px*/
html {
    font-size: 16px;
    background-color:#FFDEAD;
	font-family: "myfont";
	-webkit-text-stroke: 0.1px #000000;
	color:#FFF;
    }

.face {
	text-align: center;
	font-size: 1.5em;

}

.face img {
	width: 350px;
    height: auto;
    border-radius:50%;
    border: 5px solid #800080;
}

.calender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.calender img {
	width: 100px;
    height: auto;
    border-radius:50%;
    border: 5px solid #800080;
}

.header {
	  padding-top: 80px;
	  background-image: url(/C1/img/bar.png);
      background-repeat: repeat-x;
      position:static;
}

.tape {
	  padding-top: 100px;
	  background-image: url(/C1/img/bar.png);
      background-repeat: repeat-x;

}

.mat {
	padding-top: 100px;
	background-image: url(/C1/img/mat.png);
    background-repeat: repeat-x;
    position: relative;
    top: 35px;

}

.hero {
	    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(/C1/img/sumoroom.png);
        position: relative;


}

.scroll_content { /* リスト全体のスタイル */
  /*text-align: center;*/
  display: flex;
  max-width: 800px;
  max-height: 800px;
   margin: auto;
  overflow-x: auto;
}

.scroll_content li { /* 各リストのスタイル */
  width: 90%;
  padding: 8px;
  margin: 3px;
  flex-shrink: 0;
  list-style: none;
  position:static;
}

.scroll_content img { /* 画像のスタイル */
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.scroll_content::-webkit-scrollbar {
  height: 12px; /* スクロールバーの高さ */
}

.scroll_content::-webkit-scrollbar-thumb {
  background: #aaa; /* ツマミの色 */
  border-radius: 6px; /* ツマミ両端の丸み */
}

.scroll_content::-webkit-scrollbar-track {
  background: #ddd; /* トラックの色 */
  border-radius: 6px; /* トラック両端の丸み */
}


@media screen and (min-width: 450px) {

  .scroll_content li {
    width: 45%;
  }

}