@charset "UTF-8";
@font-face {
    font-family:"myfont" ;
    src: url("../fonts/kai.ttf")format("truetype");
}

/*html（全体）
ピンク色の背景と玉ねぎフォント、フォントサイズ16px*/
html {
    font-size: 16px;
    background-color:#FFEEFF;
	font-family: "myfont";
    }

.face {
	text-align: center;
}
.calender{
	text-align: left;
}
.contribution{
	text-align: right;
}
.header {
	  padding-top: 50px;
	  background-image: url(/C1/img/bar.png);
      background-repeat: repeat-x;
}
.footer {
	  position: relative;
	  padding-bottom: 70px;
	  background-image: url(/C1/img/mat.png);
      background-repeat: repeat-x;
      top: 375px;
}