@charset "UTF-8";
@font-face {
    font-family:"myfont" ;
    src: url("../fonts/kai.ttf")format("truetype");
}



/*html（全体）
ピンク色の背景と玉ねぎフォント、フォントサイズ16px*/
html {
    font-size: 16px;
    background-color:#FFEEFF;
	font-family: "myfont";
    }





/*教習所の写真*/
.school-pic {
        font-size: 8rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color:black;
        text-align: center;
        margin: auto;
        padding: 200px 0;
        background-image: url(/C1/img/school.jpg);
        height: 60px;
      }

.accordion {
	margin: 3em auto;
	max-width: 60vw;
}

.toggle {
	display: none;
}

.option {
	position: relative;
	margin-bottom: 1em;
	font-size: 50px;
	width: 40rem;
	margin-top: 7rem;
}

.title,
.content{
	-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: translateZ(0);
transition: all 0.3s;
}

.title::after,
.title::before {
content: "";
position: absolute;
right: 1.25em;
top: 0.3em;
width: 2px;
height: 0.75em;
background-color: #800080;
transition: all 0.3s;
}
.title::after {
transform: rotate(90deg);
}
.content {
max-height: 0;
overflow: hidden;
}

.pText {
margin: 0;
padding: 0.5em 1em 1em;
font-size: 0.8em;
line-height: 1.5;
color:#800080;
}
.pMainText {
margin: 0;
font-size: 0.6em;
line-height: 1.5;
}

.rikishi-name {
	color:#800080;
	font-size: 3.6rem;
}

.rikishi-content {
	font-size: 2.6rem;
}


.toggle:checked + .title + .content {
max-height: 500rem;
transition: all 1.5s;
}
.toggle:checked + .title::before {
transform: rotate(90deg) !important;
}












