@charset "UTF-8";
@font-face {
  font-family: "myfont";
  src: url("/C1/fonts/kai.ttf") format("truetype");
}

* {
	text-align: center;
	margin: 0 auto;
	font-family: "myfont";
}


/*それぞれのユーザーのボード*/
.boardpic {
	font-size: 4rem;
	margin-top: 1rem;
    color:black;
    text-align: center;
    padding: 1.1px 6px;
    /* background: linear-gradient(45deg, #8b4513 0%, #cd853f 50%, #deb887 100%); */
    background-image: url(../img/mat.png);
    background-repeat: repeat;
}


/* ページ全体の背景色 */
.rikishi-page {
	background-color:#FFDEAD;
}
/* 見出し */
h1 {
	font-size:6rem;
}

/* aタグの設定 */
a {
  text-decoration: none;
  color: black;
}

.rikishi-page {
	background-color: #FFDEAD;
}