@charset "UTF-8";
@font-face {
  font-family: "myfont";
  src: url("/C1/fonts/kai.ttf") format("truetype");
}

* {
	text-align: center;
	margin: 0 auto;
	font-family: "myfont";
}

/*ユーザー検索のフォーム全体*/
#UserSearchform {
    padding: 5px 0 20px 0;

}

/*ユーザー検索の入力フォーム*/
#userform {
    width: 21rem;
    height: 3rem;
	margin-top: 3rem;
}

/*ユーザー検索の入力フォームと検索ボタン*/
.userform {
	font-size: 1.3rem;
	    height: 3rem;
	margin-top: 3rem;
}

/*それぞれのユーザーのボード*/
.boardpic {
	font-size: 4rem;
	margin-top: 1rem;
    color:black;
    text-align: center;
    padding: 1.1px 6px;
    background-color: lightpink;
}

/* ページ全体の背景色 */
.user-page {
	background-color: #FFDDFF;
}
/* 見出し */
h1 {
	font-size:7rem;
}